* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.index-body {
  background-color: #131212;
  background-image: url(../images/frank-mckenna-tjx_sninzgq-unsplash\1png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-attachment: fixed; }

button,
a.btn,
.btn {
  border-radius: 0 !important; }

#eye-btn2,
#eye-btn1 {
  border: 1px solid #88cc88;
  background-color: unset; }
  #eye-btn2:focus,
  #eye-btn1:focus {
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }

.eye-btn-input-attachment {
  border-right: 0; }
  .eye-btn-input-attachment:focus {
    background-color: unset; }
    .eye-btn-input-attachment:focus + .input-group-append .eye-btn {
      border-color: #116611 !important;
      border-left: 0; }

.green-button {
  background-color: #2d882d;
  color: #ffffff; }
  .green-button:hover {
    color: #ffffff;
    background-color: #116611; }

.delivery-option-page .nav-pills .nav-link.active {
  background-color: #2d882d !important; }
  .delivery-option-page .nav-pills .nav-link.active:hover {
    background-color: #116611 !important; }
.delivery-option-page .nav-pills .nav-link {
  background-color: #88cc88 !important; }
  .delivery-option-page .nav-pills .nav-link:hover {
    background-color: #28a745 !important; }
  .delivery-option-page .nav-pills .nav-link:focus {
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }
.delivery-option-page .express-delivery-tab-inner {
  background-color: rgba(136, 204, 136, 0.07); }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.form-global-style,
.top-page-container {
  background-color: rgba(136, 204, 136, 0.07);
  padding: 2em; }
  .form-global-style ul,
  .top-page-container ul {
    line-height: 2; }
    .form-global-style ul li,
    .top-page-container ul li {
      list-style: none; }
    .form-global-style ul .name-label,
    .form-global-style ul .address-label,
    .form-global-style ul .whatsapp-number-label,
    .top-page-container ul .name-label,
    .top-page-container ul .address-label,
    .top-page-container ul .whatsapp-number-label {
      font-weight: 600; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #116611;
  background-color: #88cc88; }

.custom-control-label::before {
  background-color: #fff;
  border: #88cc88 solid 1px; }

.form-control[type="text"],
.form-control[type="password"],
.form-control[type="email"],
.form-control[type="number"],
.form-control[type="date"],
.custom-select {
  border-radius: 0;
  border: 1px solid #88cc88;
  background-color: unset; }
  .form-control[type="text"]:focus,
  .form-control[type="password"]:focus,
  .form-control[type="email"]:focus,
  .form-control[type="number"]:focus,
  .form-control[type="date"]:focus,
  .custom-select:focus {
    border: 1px solid #116611;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }

.back-button {
  background-color: unset;
  border: none; }
  .back-button::after {
    content: "\f0e2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.link {
  color: #2d882d; }
  .link:hover {
    text-decoration: none;
    color: #88cc88; }

.nav-link {
  font-weight: 600;
  color: #ffffff; }

.navbar-brand {
  text-indent: -100000px; }
  .navbar-brand h2 {
    background-image: url("../images/PostMailExpress.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 120px;
    height: 40px; }

.menu-button-icon {
  color: #d7d900;
  border: 0;
  box-shadow: 0; }
  .menu-button-icon:focus {
    border: 1px solid #88cc88;
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6); }

.green-icon {
  color: #116611; }

.review-card {
  background-color: rgba(136, 204, 136, 0.12); }

.section-title {
  text-transform: uppercase;
  margin-top: 5em;
  font-weight: 600; }

.form-title {
  color: #2d882d;
  text-transform: uppercase; }

.rating-star {
  color: #ca940b; }

.text-action {
  color: #d7d900; }

.title-component-wrapper {
  background-color: #131212;
  background-image: url(../images/main-navbar-background.png);
  background-blend-mode: soft-light;
  background-size: cover;
  color: #ffffff;
  border-top: 1px solid #777; }
  .title-component-wrapper .page-title {
    text-transform: capitalize; }

.table-head {
  background-color: rgba(136, 204, 136, 0.3);
  border: none;
  color: #131212; }

.table-body {
  background-color: rgba(136, 204, 136, 0.07);
  border: none; }

.cancelled-state,
.error {
  color: #dc3545; }

.delivered-state {
  color: #28a745; }

.processing-state {
  color: #6c757d; }

.main-navigation .navbar-nav .nav-item {
  padding-left: 0.5em; }
.main-navigation .navbar-nav .nav-item.active .nav-link,
.main-navigation .navbar-nav .nav-item:hover .nav-link {
  color: #88cc88; }
.main-navigation .navbar-nav .nav-link {
  color: #ffffff; }

.background-with-image {
  background-color: #131212;
  background-image: url(../images/main-navbar-background.png);
  background-blend-mode: soft-light;
  background-size: cover;
  transition: background-color 250ms; }

.background-without-image {
  background-color: #131212;
  transition: background-color 250ms; }

.shippingToggle:hover > .shippingDropdownItem {
  display: block;
  transform: scale(1); }

.servicesToggle:hover > .servicesDropdownItem {
  display: block;
  transform: scale(1); }

.main-nav-item-dropdown {
  background-color: #131212;
  border: none;
  padding: 1em; }
  .main-nav-item-dropdown .dropdown-item {
    color: #fefefe;
    font-weight: 200; }
    .main-nav-item-dropdown .dropdown-item:hover, .main-nav-item-dropdown .dropdown-item:focus {
      color: #88cc88; }

.user-account-nav {
  background-color: #202020; }
  .user-account-nav .nav-link {
    display: block;
    padding: 0.5rem 1rem 1rem 0;
    color: #ffffff; }
    .user-account-nav .nav-link:hover {
      color: #88cc88; }
    .user-account-nav .nav-link:focus {
      text-decoration: underline; }
    .user-account-nav .nav-link.active {
      color: #88cc88; }

.hero-container {
  height: 80vh; }

.hero-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero-content .content-inner {
    width: 70%; }
  .hero-content .slide-content {
    height: 60%; }
  .hero-content .track-input-wrapper {
    height: 40%; }

.track-field-container {
  background-color: rgba(255, 255, 255, 0.5); }
  .track-field-container h5 {
    color: #116611;
    font-weight: 600; }

.services-list {
  padding: 0; }
  .services-list .services-item {
    background-color: #131212 !important;
    color: #ffffff;
    list-style: none;
    margin: 1em;
    height: 400px;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .services-list .services-item.item1 {
      background: url(../images/khadeeja-yasser-9jlyl1tmzag-unsplash\1png); }
    .services-list .services-item.item2 {
      background: url(../images/adeolu-eletu-e7rlgujjazc-unsplash\1png); }
    .services-list .services-item.item3 {
      background: url(../images/rinson-chory-2vpggou-wla-unsplash\1png); }
    .services-list .services-item.item4 {
      background: url(../images/johannes-hofmann-vdmn0v4p7xu-unsplash\1png); }
    .services-list .services-item .service-caption a {
      color: #ffffff; }
      .services-list .services-item .service-caption a:hover {
        text-decoration: none;
        color: #88cc88; }
    .services-list .services-item .service-caption .cap1 {
      font-size: 1.3rem;
      font-weight: 600; }

.why-choose-us {
  background-color: #131212;
  background-image: url(../images/brendan-church-pkef6tt3c08-unsplash\1png);
  background-size: cover;
  background-blend-mode: soft-light;
  background-attachment: fixed; }
  .why-choose-us .why-choose-us-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px; }
    .why-choose-us .why-choose-us-grid-container div:nth-child(even) .card,
    .why-choose-us .why-choose-us-grid-container div:nth-child(odd) .card {
      height: 100%; }
    .why-choose-us .why-choose-us-grid-container .column-item-1 {
      grid-column: 1/3; }
    .why-choose-us .why-choose-us-grid-container .column-item-2 {
      grid-column: 1/3; }
    .why-choose-us .why-choose-us-grid-container .column-item-3 {
      grid-column: 1/3; }
    .why-choose-us .why-choose-us-grid-container .column-item-4 {
      grid-column: 1/3; }
  .why-choose-us .section-title {
    color: #ffffff; }

.pme-rate {
  background-color: #ffffff;
  padding-bottom: 3em; }
  .pme-rate .pme-rates-items {
    list-style-image: url(../images/ellipse\2png); }
    .pme-rate .pme-rates-items li {
      margin-top: 1.4em; }
      .pme-rate .pme-rates-items li h4 {
        color: #116611; }
      .pme-rate .pme-rates-items li p {
        font-weight: 500;
        font-size: 1.2rem; }

.request-quote {
  background-color: #2d882d;
  color: #ffffff; }
  .request-quote p {
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 600; }
  .request-quote .request-quote-button {
    background-color: #88cc88;
    color: #004400;
    font-weight: 600; }

.customers-reviews {
  background-color: #ffffff; }
  .customers-reviews .section-title {
    margin-bottom: 2em; }

.main-footer {
  background-color: black;
  color: #ffffff;
  margin: 0; }
  .main-footer a {
    text-decoration: none;
    color: #88cc88; }
    .main-footer a:hover, .main-footer a:focus {
      color: #ffffff; }
  .main-footer ul {
    padding: 0; }
    .main-footer ul li {
      list-style: none;
      margin-top: 1em; }
    .main-footer ul .footer-column-title {
      font-size: 1rem; }
    .main-footer ul .phone-number,
    .main-footer ul .email-address,
    .main-footer ul .footer-links {
      font-size: 0.8rem; }
  .main-footer .social-icons {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem; }

.schedule-pickup-page .sender-info-container,
.schedule-pickup-page .receiver-info-container,
.schedule-pickup-page .car-hire-form-container, .car-hire-page .sender-info-container,
.car-hire-page .receiver-info-container,
.car-hire-page .car-hire-form-container {
  background-color: #ffffff;
  margin-top: 2em;
  padding: 2em; }
.schedule-pickup-page .mobile-update-request-container, .car-hire-page .mobile-update-request-container {
  background-color: rgba(136, 204, 136, 0.3); }

.pickup-notification {
  background-color: #2d882d; }

.schedule-pickup-confimation-page .receiver-info-title {
  font-size: 1.3rem;
  font-weight: 600; }
.schedule-pickup-confimation-page .cancel-button {
  background-color: #dc3545;
  color: #ffffff; }
  .schedule-pickup-confimation-page .cancel-button:hover {
    background-color: #b31818; }

.pickup-payment-page .payment-option-grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto, minmax(30px, auto));
  grid-gap: 20px; }
  .pickup-payment-page .payment-option-grid-layout .option-1 {
    grid-column: 1/-1;
    grid-row: 1/2; }
  .pickup-payment-page .payment-option-grid-layout .option-2 {
    grid-column: 1/-1;
    grid-row: 2/3; }
  .pickup-payment-page .payment-option-grid-layout .option-3 {
    grid-column: 1/-1;
    grid-row: 3/4; }
  .pickup-payment-page .payment-option-grid-layout .option-4 {
    grid-column: 1/-1;
    grid-row: 4/5; }
.pickup-payment-page .image-wrapper, .pickup-payment-page .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pickup-payment-page .image-wrapper img, .pickup-payment-page .button-wrapper img {
    width: 60%; }

.faq-page .refer-link {
  text-decoration: none;
  color: #28a745; }
  .faq-page .refer-link:hover {
    color: #116611; }
.faq-page .faq-question-btn {
  color: #116611;
  text-decoration: none; }
  .faq-page .faq-question-btn:hover {
    color: #28a745; }

@media (min-width: 768px) {
  .reg-input-margin-right {
    padding-right: 1em !important; }

  .reg-input-margin-left {
    padding-left: 1em !important; }

  .services-list {
    display: flex;
    justify-content: space-between; }
    .services-list .services-item {
      flex-basis: 24%; }

  .why-choose-us .why-choose-us-grid-container .column-item-1 {
    grid-column: 1/2; }
  .why-choose-us .why-choose-us-grid-container .column-item-2 {
    grid-column: 2/3; }
  .why-choose-us .why-choose-us-grid-container .column-item-3 {
    grid-column: 1/2; }
  .why-choose-us .why-choose-us-grid-container .column-item-4 {
    grid-column: 2/3; }

  .social-icons {
    width: 40%; }

  .sender-info-preview,
  .receiver-info-preview,
  .charges-preview {
    width: 60%; }

  .pickup-payment-page .payment-option-grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, minmax(30px, auto));
    grid-gap: 20px; }
    .pickup-payment-page .payment-option-grid-layout .option-1 {
      grid-column: 1/4;
      grid-row: 1/2; }
    .pickup-payment-page .payment-option-grid-layout .option-2 {
      grid-column: 4/7;
      grid-row: 1/2; }
    .pickup-payment-page .payment-option-grid-layout .option-3 {
      grid-column: 1/4;
      grid-row: 2/3; }
    .pickup-payment-page .payment-option-grid-layout .option-4 {
      grid-column: 4/7;
      grid-row: 2/3; } }
@media (min-width: 900px) {
  .slide-content {
    margin-top: 5em !important; }

  .hero-content h2 {
    font-size: 2.5em !important; } }

/*# sourceMappingURL=style.css.map */
